:root {
  --border-solid: solid;
  --border-dashed: dashed;
  --border-style: solid;
  --border-base: 1px solid #c5cbd5;
  --color-bg-white: #fff;
  --color-bg-light: #f0f2f4;
  --color-bg-light-gray: #c5cbd5;
  --color-bg-neutral: #90959e;
  --color-bg-dark-gray: #55555a;
  --color-bg-dark: #1d252c;
  --color-bg-black: #000;
  --color-bg-base: #fff;
  --color-bg-form-base: #fff;
  --color-bg-form-disabled-base: #e0e6ef;
  --color-bg-form-disabled-emphasis: #c5cbd5;
  --color-bg-form-btn-checked-base: #0046be;
  --color-bg-form-btn-checked-focused: #000;
  --color-bg-form-btn-checked-pressed: #001e73;
  --color-unstable-pure-white: #fff;
  --color-unstable-background-white: #f0f2f4;
  --color-unstable-tech-white: #e0e6ef;
  --color-unstable-light-gray: #c5cbd5;
  --color-unstable-tech-gray: #90959e;
  --color-unstable-hint-gray: #70757d;
  --color-unstable-dark-gray: #55555a;
  --color-unstable-tech-black: #1d252c;
  --color-unstable-black-text: #040c13;
  --color-unstable-pure-black: #000;
  --color-unstable-success-green: #318000;
  --color-unstable-value-red: #bb0628;
  --color-unstable-tech-yellow: #fff200;
  --color-unstable-button-yellow: #ffe000;
  --color-unstable-dark-yellow: #ffce00;
  --color-unstable-highlight-blue: #f1f8ff;
  --color-unstable-light-blue: #2b5df5;
  --color-unstable-link-blue: #0457c8;
  --color-unstable-human-blue: #0046be;
  --color-unstable-dark-blue: #001e73;
  --color-sentiment-primary: #0046be;
  --color-sentiment-secondary: #fff200;
  --color-sentiment-success: #318000;
  --color-sentiment-info: #1d252c;
  --color-sentiment-warning: #ffce00;
  --color-sentiment-error: #bb0628;
  --color-border-unstable-light: #fff;
  --color-border-unstable-dark: #000;
  --color-border-neutral: #c5cbd5;
  --color-border-base: #c5cbd5;
  --color-border-form-base: #90959e;
  --color-border-form-disabled-base: #c5cbd5;
  --color-border-form-disabled-muted: #e0e6ef;
  --color-border-form-btn-checked-base: #0046be;
  --color-border-form-btn-checked-focused: #000;
  --color-border-form-btn-checked-pressed: #001e73;
  --color-border-form-focused: #0046be;
  --color-border-form-pressed: #001e73;
  --color-fg-dark: #040c13;
  --color-fg-neutral: #70757d;
  --color-fg-light: #fff;
  --color-fg-base: #040c13;
  --color-fg-form-base: #1d252c;
  --color-fg-form-disabled: #55555a;
  --sans-serif: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  --family: "Human BBY Digital", "Human Fallback", Arial, Helvetica, sans-serif;
  --leading-none: 1;
  --leading-sm: 1.2;
  --leading-md: 1.4;
  --leading-lg: 1.8;
  --leading-base: 1.2;
  --cursor-disabled: not-allowed;
  --size-25: 0.25rem;
  --size-50: 0.5rem;
  --size-100: 1rem;
  --size-150: 1.5rem;
  --size-200: 2rem;
  --size-300: 3rem;
  --size-400: 4rem;
  --size-500: 5rem;
  --size-600: 6rem;
  --size-700: 7rem;
  --size-800: 8rem;
  --size-900: 9rem;
  --size-1000: 10rem;
  --size-1500: 15rem;
  --size-2000: 20rem;
  --size-border-sm: 1px;
  --size-border-lg: 2px;
  --size-border-base: 1px;
  --size-fg-next-10: 11px;
  --size-fg-next-15: 12px;
  --size-fg-next-20: 14px;
  --size-fg-next-25: 16px;
  --size-fg-next-30: 18px;
  --size-fg-next-35: 20px;
  --size-fg-next-40: 22px;
  --size-fg-next-45: 28px;
  --size-fg-next-50: 32px;
  --size-fg-next-55: 36px;
  --size-fg-next-60: 40px;
  --size-fg-next-65: 46px;
  --size-fg-next-70: 52px;
  --size-fg-next-75: 64px;
  --size-fg-next-80: 72px;
  --size-fg-next-85: 82px;
  --size-fg-next-90: 92px;
  --size-fg-next-05: 10px;
  --size-fg-next-base: 14px;
  --size-icon-sm: 2rem;
  --size-icon-md: 3rem;
  --size-icon-lg: 4rem;
  --size-icon-xl: 6rem;
  --size-round-sm: 0.25rem;
  --size-round-md: 0.5rem;
  --size-round-lg: 1rem;
  --size-round-base: 0.5rem;
  --size-round-form: 0.5rem;
  --size-none: 0;
  --screen-unstable-sm: 576px;
  --screen-unstable-md: 992px;
  --screen-unstable-lg: 1200px;
  --screen-unstable-xl: 1366px;
  --screen-next-sm: 640px;
  --screen-next-md: 960px;
  --screen-next-lg: 1280px;
  --grid-gutter: 1rem;
  --grid-margin: 2rem;
  --fg-size-root: 8px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  background-color: var(--color-unstable-pure-white);
  color: var(--color-fg-base);
  font-family: var(--family);
  font-size: 13px;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-container {
  background-color: #0046be;
  border-bottom: 1px solid #4976e6;
  position: relative;
  z-index: 91;
}

.top-nav {
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  column-gap: 48px;
  display: grid;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  grid-template-columns: 68px 86px 508.812px 356.188px 75px;
  grid-template-rows: 40px;
  height: 72px;
  line-height: 16.9px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  position: relative;
  row-gap: 48px;
  text-size-adjust: 100%;
  width: 1350px;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
}

.hamburger-menu {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 992px;
  position: relative;
}

.appContainer {
  display: flex;
  /* flex-direction: row; */
}

.sb-input-field {
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: flex;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 40px;
  line-height: 16.9px;
  margin-top: 0px;
  text-size-adjust: 100%;
  width: 508.812px;
  -webkit-font-smoothing: antialiased;
}

.search-input {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(85, 85, 90);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(85, 85, 90);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(85, 85, 90);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(85, 85, 90);
  border-top-left-radius: 4px;
  border-top-right-radius: 0px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(85, 85, 90);
  cursor: text;
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 40px;
  letter-spacing: normal;
  line-height: 20.8px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 10px;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  vertical-align: middle;
  width: 474.812px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-font-smoothing: antialiased;
  -webkit-rtl-ordering: logical;
  -webkit-border-image: none;
  z-index: 100;
}

#menu-button {
  align-items: center;
  appearance: button;
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  /* #fff .shop-header .header-hamburger .hamburger-menu .hamburger-menu-button
inherit button
buttontext button
var(--color-fg-base) body */
  cursor: pointer;
  display: flex;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: 32px;
  letter-spacing: normal;
  line-height: 26px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
}

.store-display-name {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: 22px;
  letter-spacing: normal;
  line-height: 16px;
  max-width: 347px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  text-align: center;
  text-indent: 0px;
  text-overflow: ellipsis;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  white-space: nowrap;
}

.store-locator {
  align-items: center;
  box-sizing: border-box;
  color: rgb(4, 12, 19) var(--color-fg-base) body;
  display: flex;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 40px;
  justify-content: flex-end;
  line-height: 16.9px;
  text-size-adjust: 100%;
  width: 356.188px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.cart-icon {
  align-items: center;
  box-sizing: border-box;
  color: rgb(4, 12, 19) var(--color-fg-base) body;
  display: flex;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 40px;
  justify-content: flex-end;
  line-height: 16.9px;
  text-size-adjust: 100%;
  /* width: 75px; */
  -webkit-font-smoothing: antialiased;
}

.cart-label {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  /* display: block; */
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 26px;
  line-height: 26px;
  margin-left: 5px;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  width: 42.0469px;
  -webkit-font-smoothing: antialiased;
}

#header-clear-search-icon {
  z-index: 100;
  align-items: flex-start;
  appearance: button;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(4, 12, 19);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(4, 12, 19);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(4, 12, 19);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(4, 12, 19);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  cursor: pointer;
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-height: 16.9px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: auto;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-font-smoothing: antialiased;
  -webkit-border-image: none;
}

.header-close-icon {
  z-index: 100;
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  cursor: pointer;
  display: inline;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-height: 15.6px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: auto;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-font-smoothing: antialiased;
}

.header-search-button {
  z-index: 100;
  align-items: flex-start;
  appearance: button;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  /* background-repeat-x 
background-repeat-y  */
  background-size: auto;
  border-bottom-color: rgb(4, 12, 19);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(4, 12, 19);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(4, 12, 19);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(4, 12, 19);
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  cursor: pointer;
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 40px;
  letter-spacing: normal;
  line-height: 16.9px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: 34px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-font-smoothing: antialiased;
  -webkit-border-image: none;
}

.bottom-fluid-container {
  background-color: rgb(0, 70, 190);
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 44px;
  line-height: 15.6px;
  text-size-adjust: 100%;
  width: 1306px;
  -webkit-font-smoothing: antialiased;
}

.bottom-nav {
  align-items: center;
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: flex;
  flex-direction: row;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 44px;
  line-height: 15.6px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  position: relative;
  text-size-adjust: 100%;
  width: 1306px;
  z-index: 90;
  -webkit-font-smoothing: antialiased;
}

.bottom-nav-left-wrapper {
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: flex;
  flex-wrap: nowrap;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 16px;
  line-height: 15.6px;
  position: relative;
  text-size-adjust: 100%;
  width: 658.578px;
  -webkit-font-smoothing: antialiased;
}

.bottom-nav-left {
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 16px;
  justify-content: flex-start;
  line-height: 15.6px;
  list-style-type: disc;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-height: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-inline-start: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  width: 658.578px;
  -webkit-font-smoothing: antialiased;
}

.bottom-left-links {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: auto;
  line-height: 15.6px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-right: 28px;
  text-align: left;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.shop-footer {
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 834.969px;
  line-height: 15.6px;
  position: relative;
  text-size-adjust: 100%;
  width: auto;
  z-index: 89;
}

#footer {
  background-color: rgb(240, 242, 244);
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 834.969px;
  line-height: 15.6px;
  min-width: 992px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  text-size-adjust: 100%;
  width: auto;
}

.icon-navigation {
  border-bottom-color: rgb(196, 196, 196);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: flex;
  flex-grow: 1;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 150px;
  line-height: 15.6px;
  list-style-type: none;
  margin-block-end: 16px;
  margin-block-start: 0px;
  margin-bottom: 16px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 32px;
  padding-inline-start: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  width: auto;
}

.icon-navigation-link-wrapper {
  box-sizing: border-box;
  color: rgb(4, 87, 200);
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 117px;
  line-height: 15.6px;
  list-style-type: none;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  text-align: left;
  text-size-adjust: 100%;
  width: 294.5px;
}

.icon-navigation-link {
  box-sizing: border-box;
  color: rgb(4, 87, 200);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 125px;
  line-height: 15.6px;
  list-style-type: none;
  text-align: center;
  text-decoration-color: rgb(4, 87, 200);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  width: 272px;
}

.icon-navigation-link-icon {
  box-sizing: border-box;
  color: rgb(4, 87, 200);
  cursor: pointer;
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 55px;
  line-height: 15.6px;
  list-style-type: none;
  margin-bottom: 8px;
  margin-left: 99.25px;
  margin-right: 99.25px;
  margin-top: 8px;
  text-align: center;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  width: 55px;
}

.main-marketing-wrapper {
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: flex;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 416px;
  justify-content: space-between;
  line-height: 15.6px;
  margin-bottom: 64px;
  text-size-adjust: 100%;
  width: 1440px;
}

.main-navigation {
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: grid;
  flex-basis: 70%;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  grid-template-areas: "topLeft topMiddle topRight" "bottomLeft bottomMiddle bottomRight";
  grid-template-columns: 289.797px 289.797px 289.812px;
  height: 416px;
  line-height: 15.6px;
  text-size-adjust: 100%;
  width: 869.406px;
}

.navigation-section-heading {
  box-sizing: border-box;
  color: rgb(29, 37, 44);
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  width: 289.797px;
}

.navigation-section-list {
  color: rgb(0, 0, 238);
  cursor: pointer;
  display: inline;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: auto;
  line-height: 15.6px;
  list-style-type: disc;
  text-align: left;
  text-decoration-color: rgb(0, 0, 238);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.navigation-section-list::marker {
  color: rgb(0, 0, 238);
  cursor: pointer;
  display: inline;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: auto;
  line-height: 15.6px;
  list-style-type: disc;
  text-align: left;
  text-decoration-color: rgb(0, 0, 238);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  width: auto;
  -webkit-font-smoothing: antialiased;
}

.Accessibility-btn {
  align-items: flex-start;
  appearance: auto;
  background-color: rgb(239, 239, 239);
  border-bottom-color: rgb(118, 118, 118);
  border-bottom-style: outset;
  border-bottom-width: 2px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(118, 118, 118);
  border-left-style: outset;
  border-left-width: 2px;
  border-right-color: rgb(118, 118, 118);
  border-right-style: outset;
  border-right-width: 2px;
  border-top-color: rgb(118, 118, 118);
  border-top-style: outset;
  border-top-width: 2px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: default;
  display: block;
  font-family: Arial;
  font-size: 13.3333px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 416px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: 99.4219px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-font-smoothing: antialiased;
  -webkit-border-image: none;
}

.marketing-navigation {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 416px;
  line-height: 15.6px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  text-size-adjust: 100%;
  width: 372.594px;
}

.social-icons {
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: flex;
  flex-direction: row;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 32px;
  justify-content: space-between;
  line-height: 15.6px;
  text-size-adjust: 100%;
  width: 340.594px;
}

.social-icon {
  box-sizing: border-box;
  color: rgb(4, 87, 200);
  cursor: pointer;
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 32px;
  line-height: 15.6px;
  text-decoration-color: rgb(4, 87, 200);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  width: 32px;
}

.best-buy-app {
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: flex;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 42px;
  line-height: 15.6px;
  text-size-adjust: 100%;
}
.best-buy-app-icon {
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: block;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 13px;
  height: 42px;
  line-height: 15.6px;
  margin-right: 4px;
  text-size-adjust: 100%;
  width: 42px;
}

.email.signup-label {
  text-size-adjust: 100%;
  line-height: 1.2;
  box-sizing: border-box;
  font-weight: 600;
  padding: 0;
  font-size: 17px;
  margin: 0;
}

.email.signup-inputs {
  text-size-adjust: 100%;
  line-height: 1.2;
  font-size: 17px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.tb-input-wrapper {
  box-sizing: border-box;
  color: rgb(4, 12, 19);
  display: flex;
  flex-direction: column;
  font-family: "Human BBY Digital", "Human Fallback", Arial, Helvetica,
    sans-serif;
  font-size: 17px;
  height: 32px;
  line-height: 20.4px;
  margin-bottom: 12px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 12px;
  position: relative;
  text-size-adjust: 100%;
  width: 291.391px;
}

.c-button {
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  text-transform: none;
  appearance: button;
  cursor: pointer;
  align-items: center;
  border-radius: var(--size-round-base);
  border-style: var(--border-style);
  border-width: 0;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
  height: 30px;
  padding: 0 var(--size-100);
  background-color: var(--color-unstable-human-blue);
  color: var(--color-unstable-pure-white);
  width: 100%;
}
